$rootwidth: 600px;
$rootfontfamily: Verdana;
$rootfontsize: 12px;
$rootbg: hsl(0, 0%, 21%);
// $rootbg: hsl(0, 0%, 14%); ter
$rootcolor:hsl(0, 0%, 96%);
$paddinglg: 44px;
$paddingmd: 30px;
$paddingnm: 22px;
$paddingsm: 6px;
$marginlg: $paddinglg;
$marginmd: $paddingmd;
$marginnm: $paddingnm;
$marginsm: 10px;